/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/


body {
  margin: 0px auto;
  padding: 0px;
  width: 800px;
  min-height: 500px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.hold-routes {
  display: block;
  background-color: black;
}

.content-holder {
  display: block;
  height: 100%;
  width: 100%;
  background-color: white;
}
